:root{
    --primary-color:#85C190;
    --darker-color:#3F644B;
    --white:#FCFAFA;
    --black:#262626;
    --accent-color:#058ED9;
    --shared-transition: all 0.4s ease-in-out;
    --shared-border-radius: 20px;
    --serif-font: serif;
    --sans-serif-font: sans-serif;
}

body{
    font-family: var(--serif-font);
}

header{
    position: fixed;
    width: 100%;
    height: 10rem;
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    .left-side-header{
        width: 50%;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .right-side-header{
        width: 50%;

    }
}